body, p, h1, h2, h3, table, tr, th, td, img , ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #202020;
  color: #757575;
  font-family: Arial;
  font-size: 11pt;
}
div.wrapper {
  width: 960px;
  margin: 0 auto;
}
header {
  height: 80px;
  color: white;
  padding-left: 20px;
}
  header h1 {
    float: left;
    text-transform: lowercase;
    letter-spacing: -1px;
    font-size: 34pt;
    font-weight: normal;
    margin: 10px 30px 0 0;
  }
  header p {
    padding-top: 36px;
    font-style: italic;
    font-family: 'Times New Roman';
    font-size: 12pt;
  }

nav {
  background-color: #087CF4;
  height: 36px;
}
  nav ul {
    margin: 0 0 0 10px;
    list-style-type: none;
  }
  nav li {
    display: inline;
    float: left;
  }
  nav a {
    padding: 10px 20px 11px;
    color: white;
    text-transform: uppercase;
    text-decoration:  none;
    display: block;
    font-size: 9pt;
  }
  nav a.aktiv {
    background-color: #2c2c2c;
  }
  nav a:hover {
    background-color: #2c2c2c;
  }

div.main {
  padding: 20px 0;
}
  aside {
    width: 280px;
    float:left;
    font-size: 10pt;
  }
    aside section {
      margin-bottom: 20px;
    }
    aside section h2 {
      padding: 5px 25px;
      background-color: #2c2c2c;
      color: #f7f7f7;
      font-weight: normal;
      margin-bottom: 10px;
    }
    aside section p {
      padding: 5px 25px;
      text-align: justify;
      line-height: 160%;
    }
    aside section ul {
      list-style-type: square;
      padding-left: 30px;
      line-height: 160%;
    }
    aside section li {
      padding: 8px 0;
      border-bottom: 1px solid #2c2c2c;
    }
    aside section a {
      color: #757575;
      text-decoration: none;
    }
    aside section a:hover {
      color: #f7f7f7;
    }
  div.content {
    margin-left: 320px;
  }
    article {
      border-bottom: 1px solid #2c2c2c;
      padding-bottom: 8px;
      margin-bottom: 20px;
    }
    article img {
      border: 5px solid #2c2c2c;
      margin-right: 5px;
    }
    article img.kicsi {
      width: 160px;
      float: left;
      border: 5px solid #2c2c2c;
      margin-right: 10px;
    }
    article h2 {
      font-weight: normal;
      color: #087CF4;
      font-size: 22pt;
      margin-bottom: 10px;
    }
    article p {
      line-height: 160%;
      text-align: justify;
    }
    article p.fenykep {
      text-align: left;
    }
    article table {
      width: 100%;
      margin: 15px 0 25px;
    }
    article th {
      background-color: #2c2c2c;
      color: #f7f7f7;
      padding: 5px;
    }
    article td {
      padding: 5px;
      border-bottom: 1px solid #2c2c2c;
    }
    article td.jobb {
      text-align: right;
    }
    form {
      background-color: #333333;
      padding: 0 20px 20px;
    }
    form h3 {
      padding-top: 20px;
      padding-bottom: 8px;
    }
    form div {
      padding-left: 20px;
      padding-bottom: 8px;
    }
    form div.kiselem {
      float: left;
      padding-left: 0;
      padding-right: 4px;
    }
    form label {
      font-size: 10pt;
    }
    form input {
      background-color: #999999;
      border: 1px solid #cccccc;
      padding: 2px;
      border-radius: 4px;
      color: #dddddd;
    }
    form input[type='email'] {
      width: 74%;
    }
    form input[type='submit'] {
      cursor: pointer;
    }
    form select {
      width: 75%;
      background-color: #999999;
      border: 1px solid #cccccc;
      padding: 2px;
      border-radius: 4px;
      color: #dddddd;
    }
    form textarea {
      width: 74%;
      height: 30px;
      resize: vertical;
      background-color: #999999;
      border: 1px solid #cccccc;
      padding: 2px;
      border-radius: 4px;
      color: #dddddd;
      font-family: Arial;
      font-size: 10pt;
    }

footer {
  clear: both;
  border-top: 5px solid #2c2c2c;
  padding: 20px;
  font-size: 8pt;
  color: #777777;
  text-align: center;
  text-transform: uppercase;
}
  footer a {
    text-decoration: none;
    color: #999999;
  }
